<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<div class="container">
  <div>
    <h4>Motion App Store</h4>
  </div>

  <div class="input-group mb-3">
    <select class="select-date form-control" required>

      <option value="" selected disabled>Please select</option>
      <option value='0'>Consumers</option>
      <option value='1'>Producers</option>
    </select>
  </div>



  <div class="animated fadeIn">
    <!--Recommended apps Begin-->

    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Recommended Apps
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-md-2">
              <div class="card card1">
                <div class="card-header card-header1">
                  Four Corners of health
                </div>
                <div class="card-body">
                  <img src="assets/img/icons/motion01.png" alt="Health" height="80" width="80" class="center">

                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card card1">
                <div class="card-header card-header1">
                  Fitness Tracker
                </div>
                <div class="card-body">
                  <img src="assets/img/icons/motion02.png" alt="Health" height="80" width="80" class="center">

                </div>
              </div>
            </div>
            <div class="col-md-2 ">
              <div class="card card1">
                <div class="card-header card-header1">
                  Health Knowledge Base
                </div>
                <div class="card-body">
                  <img src="assets/img/icons/motion03.png" alt="Health" height="80" width="80" class="center">

                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card card1">
                <div class="card-header card-header1">
                 Calender
                </div>
                <div class="card-body">
                  <img src="assets/img/icons/motion04.png" alt="Health" height="80" width="80" class="center">

                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card card1">
                <div class="card-header card-header1">
                  My Heart
                </div>
                <div class="card-body">
                  <img src="assets/img/icons/motion05.png" alt="Health" height="80" width="80" class="center">

                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card card1">
                <div class="card-header card-header1">
                  Four Corners of health
                </div>
                <div class="card-body">
                  <img src="assets/img/icons/motion05.png" alt="Health" height="80" width="80" class="center">
                  
                  <button type="button" class="btn btn-secondary btn-sm button1"><span class="glyphicon glyphicon-plus-sign"></span></button>
                  <button type="button" class="btn btn-secondary btn-sm "><span class="glyphicon glyphicon-minus-sign"></span></button>
                
                </div>
              </div>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>
  <div class="animated fadeIn">
    <!--Recommended apps Begin-->

    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          More Apps
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-md-2">
              <div class="card card1">
                <div class="card-header">
                 My Medications
                </div>
                <div class="card-body">
                  <img src="assets/img/icons/motion06.png" alt="Health" height="80" width="80" class="center">

                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card">
                <div class="card-header">
                  My Health Documents
                </div>
                <div class="card-body">
                  <img src="assets/img/icons/motion07.png" alt="Health" height="80" width="80" class="center">

                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card">
                <div class="card-header">
                  Health Connect
                </div>
                <div class="card-body">
                  <img src="assets/img/icons/motion08.png" alt="Health" height="80" width="80" class="center">

                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card">
                <div class="card-header">
                  Insurance Central
                </div>
                <div class="card-body">
                  <img src="assets/img/icons/motion09.png" alt="Health" height="80" width="80" class="center">

                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card">
                <div class="card-header">
                  EMR Manager
                </div>
                <div class="card-body">
                  <img src="assets/img/icons/motion10.png" alt="Health" height="80" width="80" class="center">

                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card">
                <div class="card-header">
                  Four Corners of health
                </div>
                <div class="card-body">
                  <img src="assets/img/icons/motion10.png" alt="Health" height="80" width="80" class="center">

                </div>
              </div>
            </div>






          </div>
        </div>



      </div>
    </div>
  </div>
</div>